<!--navbar-fixed-top"-->

<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img width="70" alt="Q" src="src/faviconbis.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="questions/question"> Questions </a>
      </li>
      <li >
        <a style="color:hotpink"> <b>{{user.pseudo}}</b> </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup"> Créer un Compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin"> Connexion</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAdmin">
        <a routerLink="gererUtilisateur">Gérer les utilisateurs</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAdmin">
        <a routerLink="questions/questionAdmin">Questions admin</a>
      </li>
      <li >
        <a (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer;"> Déconnexion </a>
      </li>
    </ul>
  </div>
</nav>
