<div  class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form [formGroup]="questionForm" (ngSubmit)="onSaveQuestion()">
        <div class="form-group">
          <label for="question">Question</label>
          <input type="text" class="form-control" id="question" formControlName="question">
        </div>
        <div class="form-group">
          <input type="radio" name="goodAnswer" checked="checked" (click)="update(1)"><label for="answer1" style="margin-left: 20px">Réponse 1</label>
          <input type="text" class="form-control" id="answer1" formControlName="answer1">

          <input type="radio" name="goodAnswer" (click)="update(2)"><label for="answer2" style="margin-left: 20px">Réponse 2</label>
          <input type="text" class="form-control" id="answer2" formControlName="answer2">


          <input type="radio" name="goodAnswer" (click)="update(3)"><label for="answer3" style="margin-left: 20px">Réponse 3</label>
          <input type="text" class="form-control" id="answer3" formControlName="answer3">


          <input type="radio" name="goodAnswer" (click)="update(4)"><label for="answer4" style="margin-left: 20px" >Réponse 4</label>
          <input type="text" class="form-control" id="answer4" formControlName="answer4">

        </div>

        <button class="btn btn-success" [disabled]="questionForm.invalid" type="submit">Enregistrer</button>
      </form>
    </div>
</div>
