
<p>{{currentUser}}</p>
<div *ngFor="let user of userList;">
  <ul class="list-group">
    <li class="list-group-item">
      Email: {{user.email}}
    </li>
    <li class="list-group-item">
      isAdmin: {{user.isAdmin }}
    </li>
  <li  class="list-group-item">
    <button  *ngIf="!user.isAdmin" (click)="upgradeStatus(user)" class="btn btn-default">
      Promotion
    </button>
    <button  *ngIf="user.isAdmin" (click)="downgradeStatus(user)" class="btn btn-default">
      Dégradation
    </button>
  </li>
  </ul>
</div>

