<div class="row">
  <div class="col-xs-12">
    <h2> Questions </h2>
    <div class="list-group list-group-item" *ngFor="let question of listOfRandomQuestions; let indexQuestion = index">
      <div class="list-group-item">
        <h3 class="list-group-item-heading">
          {{indexQuestion + 1}}. {{question.question}}
          <span class="pull-right">{{question.questionVote}}</span>


          <span *ngIf="condition(question)"><button class="btn btn-default pull-right" (click)="onUpVoteQuestion(question)">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
          <button class="btn btn-default pull-right" (click)="onDownVoteQuestion(question)">
            <span class="glyphicon glyphicon-minus-sign"></span>
          </button>
            </span>

        </h3>

      </div>
      <div class="row">
        <div class="col-sm-6 " *ngFor="let answer of question.answers; let indexAnswer = index">
          <span *ngIf="question.success === 'noAnswer'; then noAnswerButton else answerButton"></span>
          <ng-template #noAnswerButton>
            <button type="button" class="btn btn-primary btn-block" (click)="onValidateAnswer(answer,question, indexQuestion, indexAnswer)">
              {{answer}}
            </button>
          </ng-template>
          <ng-template #answerButton>
            <button *ngIf="question.success === 'badAnswer' &&  questionAlreadyClicked([indexQuestion,indexAnswer])==='oui' "
                    type="button" class="btn btn-danger btn-block" >
              {{answer}}
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button *ngIf="question.success === 'goodAnswer' && questionAlreadyClicked([indexQuestion,indexAnswer])==='oui' " type="button" class="btn btn-success btn-block" >
              {{answer}}
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top: 15px" [disabled]="note === listOfRandomQuestions.length">J'ai fini !</button>
  </div>
  <br>
  <div class="text-center">
  <button class="btn btn-primary" (click)="onNewQuestion()">Nouvelle question</button>
</div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bravo ! Vous avez un score de {{note}} / {{listOfRandomQuestions.length}} </h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        <div class="text-center">
          <button class="btn btn-primary" (click)="newQuestions()">Créer un nouveau questionnaire.</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
