<div class="row">
  <div class="col-xs-12">
    <h2> Questions </h2>
    <div class="list-group list-group-item" *ngFor="let question of listOfRandomQuestions; let indexQuestion = index">
      <div class="list-group-item">
        <h3 class="list-group-item-heading">
          {{indexQuestion + 1}}. {{question.question}}
          <button class="btn btn-default pull-right" (click)="onViewQuestion(indexQuestion)">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
          <button class="btn btn-default pull-right" (click)="onDeleteQuestion(question)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
      </div>
      <div class="row">
        <div class="col-sm-6 " *ngFor="let answer of question.answers; let indexAnswer = index">
          <span *ngIf="question.success === 'noAnswer'; then noAnswerButton else answerButton"></span>
          <ng-template #noAnswerButton>
            <button type="button" class="btn btn-primary btn-block" (click)="onValidateAnswer(answer,question, indexQuestion, indexAnswer)">
              {{answer}}
            </button>
          </ng-template>
          <ng-template #answerButton>
            <button *ngIf="question.success === 'badAnswer' &&  questionAlreadyClicked([indexQuestion,indexAnswer])==='oui' "
                    type="button" class="btn btn-danger btn-block" >
              {{answer}}
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button *ngIf="question.success === 'goodAnswer' && questionAlreadyClicked([indexQuestion,indexAnswer])==='oui' " type="button" class="btn btn-success btn-block" >
              {{answer}}
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="displayScore()">Afficher le score.</button>
  <button class="btn btn-primary" (click)="newQuestions()">Créer un nouveau questionnaire.</button>
  <h2>Votre score : {{note}} / {{listOfRandomQuestions.length}}</h2>
  <button class="btn btn-primary" (click)="onNewQuestion()">Nouvelle question</button>
</div>
