<div class="row">
  <div class="col-xs-12">
    <h2> Questions </h2>
    <div class="list-group list-group-item" *ngFor="let question of listOfRandomQuestions; let indexQuestion = index">
      <div class="list-group-item">
        <h3 class="list-group-item-heading">
          {{indexQuestion + 1}}. {{question.question}}
          <span class="pull-right">{{question.questionVote}}</span>


          <span *ngIf="condition(question)"><button class="btn btn-default pull-right" (click)="onUpVoteQuestion(question)">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
          <button class="btn btn-default pull-right" (click)="onDownVoteQuestion(question)">
            <span class="glyphicon glyphicon-minus-sign"></span>
          </button>
            </span>

        </h3>

      </div>
      <div class="row">
        <div class="col-sm-6 " *ngFor="let answer of question.answers; let indexAnswer = index">
          <span *ngIf="question.success === 'noAnswer'; then noAnswerButton else answerButton"></span>
          <ng-template #noAnswerButton>
            <button type="button" class="btn btn-primary btn-block" (click)="onValidateAnswer(answer,question, indexQuestion, indexAnswer)">
              {{answer}}
            </button>
          </ng-template>
          <ng-template #answerButton>
            <button *ngIf="question.success === 'badAnswer' &&  questionAlreadyClicked([indexQuestion,indexAnswer])==='oui' "
                    type="button" class="btn btn-danger btn-block" >
              {{answer}}
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button *ngIf="question.success === 'goodAnswer' && questionAlreadyClicked([indexQuestion,indexAnswer])==='oui' " type="button" class="btn btn-success btn-block" >
              {{answer}}
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top: 15px" [disabled]="numberOfAnswerdQuestion < listOfRandomQuestions.length">J'ai fini !</button>
  </div>
  <br>
  <div class="text-center">
  <button class="btn btn-primary" (click)="onNewQuestion()">Nouvelle question</button>
</div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Bravo ! Vous avez un score de {{note}} / {{listOfRandomQuestions.length}} </h2>
      </div>
      <div class="modal-body text-center">
        <div class="container-fluid">
          <div class="row">
        <h3 style="font-weight: bold">Excellent tu viens de terminer un questionnaire !</h3> <h4> Tu peux maintenant aller voir ton historique de questions.</h4> <h4> Afin de te rappeler toute ces croustillantes questions !</h4> <h4>  Tu peux aussi recommencer un nouveau quiz pour découvrir de nouveaux bails !</h4>
        <p> N'hésite pas à voter pour les questions que tu trouves les plus droles</p>
        <p>N'hésite pas non plus à créer tes propres questions ;)</p>
          </div>

        <div class="row">
          <button class="btn btn-primary pull-left" routerLinkActive="active" routerLink="/user-history" data-dismiss="modal">Voir son historique</button>
          <button class="btn btn-primary pull-right" (click)="newQuestions()" data-dismiss="modal">Rejouer</button>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>
