<section id="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="foot-header">
          Faire un don <span class="glyphicon glyphicon-euro"> </span>
        </div>
        <div class="foot-links">
          <a href="https://www.leetchi.com/c/soutien-de-la-liste-myr" target="_blank">Don à la Myr liste</a>
          <a href="https://biere-shop.fr" target="_blank"><span class="glyphicon glyphicon-glass"></span> Donnez-nous des bières </a>
          <a href="https://www.monoprix.fr/courses/frite-potatoes-0000358" target="_blank"> Donnez-nous des frites</a>
          <a href="https://www.boutiquedesverts.fr/" target="_blank">Donnez-nous du vert</a>
          <a href="https://shop.lego.com/fr-FR/#shopxlink" target="_blank">Donnez nous des Lego</a>
          <a href="https://www.bijou.com/" target="_blank">Donnez-nous des madeleines</a>
        </div>
      </div><!--/col-sm-3-->
      <div class="col-sm-3">
        <div class="foot-header"> Contact <span class="glyphicon glyphicon-envelope"></span></div>
        <div class="foot-links">
          <a href="mailto:quiziie@gmail.com">Contactez-nous</a>
          <a href="mailto:cyril.piquet93@outlook.com">Contactez notre web Designer</a>
          <a href="mailto:fb.batard@gmail.com">Contactez notre database manager</a>
          <a href="mailto:colmichelet@gmail.com">Contactez notre responsable orthographe</a>
          <a href="mailto:thibaut.milhaud@gmail.com">Contactez notre scrum master</a>
          <a href="mailto:alexis78963@hotmail.fr">Contactez notre Product Owner</a>
        </div>
      </div>
      <div class="col-sm-3">
        <img width="70" alt="Q" src="src/faviconbis.png"> <br>
        <br>
        SAS : <br>
        <span class="foot-text"> <b> Poliakoloc </b> : 203 rue Pierre et Marie Curie 91000 EVRY
			<br /> <b>Spikoloc </b>: 3 rue Pierre de Coubertin 91000 EVRY </span>
      </div>

    </div><!--/row-->
    <div class="row">
      <img src="http://200.27.156.170/ean_default/img/cocha/footer-bg.png" style="text-align: center">
      <div id="bottom-footer">
        <div class="row">
          <div class="col-md-8" routerLinkActive="active">
            <a routerLink="/home">Page d'accueuil</a>
            <a routerLink="/auth/signin">Connectez vous</a>
            <a routerLink="/auth/signin">Inscrivez vous</a>
            <a routerLink="/questions/question">Jouez</a>
          </div>
          <div class="col-md-4 phone">
            <img src="http://200.27.156.170/ean_default/img/cocha/phone-icon.png" class="pull-left">
            <div class="pull-left">
              <span class="red">10 584 <small>Iiens qui se sont amusés sur ce site</small></span>
              <span class="red">36 30 <small>Numéro du père Noël (urgence uniquement)</small></span>
            </div>
          </div>
        </div>
      </div><!--/row 2-->
      <div class="row" id="final-footer">
        <div class="col-sm-4">
          <img src="http://200.27.156.170/ean_default/img/cocha/RapidSSL_SEAL-90x50.gif">
        </div>
        <div class="col-sm-4 text-center">
          Copyright © 2018 DreamTeam. All Rights Reserved <br>
          ENSIIE
        </div>
        <div class="col-sm-4 text-right">
        	<span class="fa-stack fa-lg">
              <i class="fa fa-circle text-primary fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle text-info fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle text-danger fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
    </div><!--/container-->
  </div><!--/footer--></section>
